Q1/Parallel/Quiz1.fdb_latexmk
Q1/Parallel/Quiz1.aux
Q1/Parallel/Quiz1.dvi
Q1/Parallel/Quiz1.fls
Q1/Parallel/Quiz1.log
Q1/Parallel/Quiz1.pdf
Q1/Parallel/Quiz1.synctex.gz
Q1/Numerical/PDF/report.fls
Q1/Numerical/PDF/report.aux
Q1/Numerical/PDF/report.fdb_latexmk
Q1/Numerical/PDF/report.log
Q1/Numerical/PDF/report.pdf
Q1/Numerical/PDF/report.synctex.gz
Q1/Scientific/a.out
